{% load static%}

<body>
    <div class="container">
        <div class="card" style="width: 18rem;">
            {% if dados.foto%}
            <img class="card-img-top" src="{{dados.foto.url}}" alt=""> {% endif%}
            <div class="card-body">
                <h5 class="card-title">{{dados.title}}</h5>
                <p class="card-text">
                    {{dados.descricao}}
                    <br> {{dados.lancamento|date:'d/m/Y'}}
                </p>
                <a href="{% url 'home' %}" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>
</body>

</html>