{% load static%}
<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
</head>

<body>
    {% include 'menu.html' %}
    <div class="container">
        <div class="card" style="width: 18rem;">
            {% if dados.foto%}
            <img class="card-img-top" src="{{dados.foto.url}}" alt=""> {% endif%}
            <div class="card-body">
                <h5 class="card-title">{{dados.title}}</h5>
                <p class="card-text">
                    {{dados.descricao}}
                    <br> {{dados.lancamento|date:'d/m/Y'}}
                </p>
                <a href="{% url 'home' %}" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>
</body>

</html>